

.gwrapper{
    animation-fill-mode: forwards;
    border-radius: 100%;
    margin: auto;
    margin-top: 15vh;
    width: 80vh;
    height: 80vh;
}

.globe{
    z-index: -1;
    width: inherit;
    height: inherit;
    transition: transform .5s;
}

.gwrapper:hover .globe{
    transform: translateY(-3vh);
}
