
body:has(.loadingScreen.active) {
    overflow: hidden;
}

.loadingSvg {
    width: 50px;
}
.loadingContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.progBar {
    width: 100px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);

    &::after {
        content: "";
        position: absolute;
        width: var(--loaded);
        height: 10px;
        left: 0;
        border-radius: inherit;
        background-color: blue;

        transition: 100ms ease all;
    }
}

.loadingScreen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.0);
    transition: 1s ease background-color, 1s ease backdrop-filter;
    backdrop-filter: blur(0);
    pointer-events: none;
    border-bottom: 2px solid transparent;

    & > * {
        transition: 1s ease all;
        opacity: 0;
    }

    &.active {
        pointer-events: all;
        border-bottom: 2px solid white;
        height: 100vh;
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 1);
        & > * {
            opacity: 1;
        }
    }
}
