
body:has(.loadingScreen.active) {
    overflow: hidden;
}

.loadingScreen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.0);
    transition: 1s ease background-color, 1s ease backdrop-filter;
    backdrop-filter: blur(0);
    pointer-events: none;
    border-bottom: 2px solid transparent;

    &.active {
        pointer-events: all;
        border-bottom: 2px solid white;
        height: 100vh;
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.8);
    }
}
