$successColor: rgb(12, 236, 34);
$waitingColor: black;

body:has(.loadingScreen.active) {
    overflow: hidden;
}

.loadingSvg {
    margin-bottom: 16px;
    width: 50px;
}
.loadingContent {
    font-family: var(--font-mono);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    font-size: 0.8rem;
    line-height: 2;
}

.statusCont {
    position: relative;
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 0.2rem;
        top: 0.4rem;
        left: 0.4rem;
        z-index: -1;
        border-radius: 1rem;
    }
    &::after {
        transition: 300ms ease height;
        height: var(--loading-height);
        background-color: $successColor;
    }
    &::before {
        height: calc(100% - 0.8rem);
        background-color: $waitingColor;
    }
}

.progBarCont {
    display: flex;
    align-items: center;
    gap: 12px;

    & > * {
        flex-shrink: 0;
    }
}

.loadCheck {
    display: flex;
    gap: 4px;
    align-items: center;

    & > svg {
        overflow: visible;
        transition: 200ms ease all;
        height: 1rem;
    }
    &.success > svg {
        fill: rgb(12, 236, 34);
        & path {
            background-color: white;
        }
    }

}

.progBar {
    width: 100px;
    height: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);

    &::after {
        content: "";
        position: absolute;
        width: var(--loaded);
        height: 10px;
        left: 0;
        border-radius: inherit;
        background-color: rgb(255, 0, 0);

        transition: 200ms ease all;
    }
}

.loadingScreen {
    position: absolute;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.0);
    transition: 1s ease background-color, 1s ease backdrop-filter;
    backdrop-filter: blur(0);
    pointer-events: none;
    border-bottom: 2px solid transparent;

    & > * {
        transition: 1s ease all;
        opacity: 0;
    }

    &.active {
        pointer-events: all;
        border-bottom: 2px solid white;
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 1);
        & > * {
            opacity: 1;
        }
    }
}
