@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: WeirdSerif;
    src: url('/OTWeirdSerif-BoldItalic.otf') format('opentype');
    font-style: italic;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: "JetBrains Mono";
    src: url('/JetBrainsMono-variable.ttf') format('truetype-variations');
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}

.font-weird {
    font-family: WeirdSerif;
    font-weight: 600;
    font-style: italic;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-mono: 'JetBrains Mono', "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

.loadingScreen {
    &.active {
        height: 100vh;
        width: 100vw;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "SF Pro Display", -apple-system-headline, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

