@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url('/JetBrainsMono.ttf') format('ttf');
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-mono: 'JetBrains Mono', "ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "SF Pro Display", -apple-system-headline, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hljs-code {
    font-family: var(--font-mono);
}

.hljs-keyword {
    color: #569cd6;
}

.hljs-title.function_ {
    color: #dcdcaa;
}

.hljs-string {
    color: #ce9178;
}

.hljs-comment {
    color: #6a9955;
}

.hljs-variable:not(.constant_), .hljs-attr {
    color: #9cdcfe;
}

.constant_ {
    color: #4fc1ff;
}

.hljs-built_in, .hljs-title.class_ {
    color: #4ec9b0;
}

.hljs-number {
    color: #b5cea8;
}
