
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    // background-image: linear-gradient(90deg, #d6d6d62e 1px, transparent 0), linear-gradient(180deg, #d6d6d62e 1px, black 0);
    mask-image: radial-gradient(ellipse 40% 35% at 50% 0,#000 70%,transparent 110%);
    background-size: 14px 20px;
    z-index: -1;
}

.contactDialog {
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    transition: 300ms ease all;
    border-radius: 0.25rem;

    &.open {
        transform: translate(25px, -50%);
    }

    & > button[data-is-close] {
        transition: 100ms ease all;
        opacity: 0;
    }

    &.open > button[data-is-close] {
        opacity: 1;
    }
}

textarea.contactInput {
    font-size: 1rem;
}

.contactInput {
    background-color: transparent;
    color: inherit;
    border: 1px solid #495057;
    width: 100%;
    resize: none;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1.2rem;
    padding: 0 0.25rem;
    transition: 100ms ease all;
    box-shadow: 0 0 0 0 rgba(68, 140, 248, 0.25);

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(68, 140, 248, 0.25);
        border-color: #007ff6
    }
}

.contactButton {
    box-shadow: 0 0 7px #6389d5;
    background-color: rgb(99 102 241);
    width: fit-content;
    align-self: center;
    padding: .5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    border-radius: 0.375rem;
    transition: 300ms ease transform, 300ms ease box-shadow, 200ms ease padding, 200ms ease margin, 200ms ease font-size;
    font-weight: 600;
    position: relative;
    top: 0;
    outline: none;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 1px 15px #6389d5;
    }

    &:active {
        padding: 0.25rem 0.5rem;
        margin: 0.25rem 0.5rem;
        font-size: 1rem;
        box-shadow: 0 1px 12px #6389d5;
    }
}

.backgroundGradient {
    pointer-events: none;
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'></rect></svg>");
    opacity: 0.15;
    background-repeat: repeat;
    background-size: 256px 256px;
}


.headshot {
    border-radius: 50%;
    width: 40svh;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
    transition: 100ms ease all;
}
.details {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.crtDisplay {
    position: absolute !important;
    height: 50vh !important;
    width: 60vh !important;
    top: 50% !important;
    right: 0;
    transform: translate(-10%, -50%);
    // border: 1px solid white !important;
    z-index: -1;
}
.personInfo {
    transition: 200ms ease all;
    padding: 25px;
    border-radius: 20px;
}
@media screen and (max-width: 1200px) {
    .personInfo {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 750px) {
    .crtDisplay {
        right: 50%;
        transform: translate(50%, -50%);
    }
    .headshot {
        width: 300px;
    }
    .details {
        flex-direction: column;
        gap: 0;
    }
    .contactDialog.open {
        transform: translate(0, -50%);
    }
}