
.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: linear-gradient(90deg, #d6d6d62e 1px, transparent 0), linear-gradient(180deg, #d6d6d62e 1px, black 0);
    mask-image: radial-gradient(ellipse 40% 35% at 50% 0,#000 70%,transparent 110%);
    background-size: 14px 20px;
    z-index: -1;
}
.backgroundGradient {
    pointer-events: none;
    position: absolute;
    // z-index: 10;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 2056 2056' xmlns='http://www.w3.org/2000/svg'><filter id='noiseFilter'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23noiseFilter)'></rect></svg>");
    opacity: 0.15;
    background-repeat: repeat;
    background-size: 256px 256px;
}


.headshot {
    border-radius: 50%;
    width: 40svh;
    aspect-ratio: 1 / 1;
    border: 2px solid white;
}

@media screen and (max-width: 48rem) {
    .headshot{
        width: 300px;
    }
}