.header {
    width: 100%;
    height: 100px;
    font-size: 100;
    background-color: #e89589;
}

.navBar{
    width: 100%;
    padding-left: 3%;
    padding-top: 1.5%;
}

.navLink{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

