.header {
    width: 100%;
    padding-top: 3vh; 
    padding-bottom: 50vh; 
    font-size: 100;
    background-color: #e89589;
}

.navBar{
    width: 100%;
    display: flex;
}

.headName{
    color: #ffffff;
    font-size: 300%;
    margin-top: 0;
}

.navLink{
    text-decoration: none;
    color: #ffffff;
    font-size: 200%;
    padding-right: 5%;
}

.navSection{
    width: 33.3%;
    text-align: center;
}
